<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
?>
<div class="toolbar-sorter sorter desktop">
    <label class="sorter-label" for="sorter"><?= $block->escapeHtml(__('Sort By')) ?></label>
    <select id="sorter" data-role="sorter" class="sorter-options">
        <?php foreach ($block->getAvailableOrders() as $_key => $_order) :?>
            <option value="<?= $block->escapeHtmlAttr($_key) ?>"
                <?php if ($block->isOrderCurrent($_key)) :?>
                    selected="selected"
                <?php endif; ?>
                >
                <?= $block->escapeHtml(__($_order)) ?>
            </option>
        <?php endforeach; ?>
    </select>
    <?php if ($block->getCurrentDirection() == 'desc') :?>
        <a title="<?= $block->escapeHtmlAttr(__('Set Ascending Direction')) ?>"
           href="#"
           class="action sorter-action sort-desc"
           data-role="direction-switcher"
           data-value="asc">
            <span><?= $block->escapeHtml(__('Set Ascending Direction')) ?></span>
        </a>
    <?php else :?>
        <a title="<?= $block->escapeHtmlAttr(__('Set Descending Direction')) ?>"
           href="#"
           class="action sorter-action sort-asc"
           data-role="direction-switcher"
           data-value="desc">
            <span><?= $block->escapeHtml(__('Set Descending Direction')) ?></span>
        </a>
    <?php endif; ?>
</div>

<div class="toolbar-sorter sorter mobil">
    <label class="sorter-label" for="sorter"><?= $block->escapeHtml(__('Sort By')) ?></label>
    <select id="sorter-mobile" data-role="sorter" class="sorter-options custom-select-mobile">
        <?php foreach ($block->getAvailableOrders() as $_key => $_order) : ?>
            <option value="<?= $block->escapeHtmlAttr($_key) ?>"
                <?php if ($block->isOrderCurrent($_key)) : ?>
                    selected="selected"
                <?php endif; ?>
            >
                <?= $block->escapeHtml(__($_order)) ?>
            </option>
        <?php endforeach; ?>
    </select>
</div>

<script>
    require([
        'jquery'
    ], function($) {
        'use strict';
        // $('select.custom-select-mobile').each(function(){
        //     if(!$(this).hasClass('initialized')){
        //         var $this = $(this),
        //             numberOfOptions = $(this).children('option').length;
        //         $this.addClass('initialized');
        //         $this.addClass('select-hidden');
        //         $this.wrap('<div class="select"></div>');
        //         $this.after('<div class="select-styled"></div>');

        //         var $styledSelect = $this.next('div.select-styled');
        //         $styledSelect.text($this.children('option:selected').eq(0).text());

        //         var $list = $('<ul />', {
        //             'class': 'select-options'
        //         }).insertAfter($styledSelect);

        //         for (var i = 0; i < numberOfOptions; i++) {
        //             $('<li />', {
        //                 text: $this.children('option').eq(i).text(),
        //                 rel: $this.children('option').eq(i).val()
        //             }).appendTo($list);
        //         }

        //         var $listItems = $list.children('li');
        //         $listItems.each( function () {
        //             if ($(this).attr('rel') == $this.val()){
        //                 $(this).addClass("active-sort");
        //                 console.log($(this).attr('rel'));
        //             }
        //         });

        //         $list.addClass('select-hide');
        //         $styledSelect.click(function(e) {
        //             e.stopPropagation();
        //             $('div.select-styled.active').not(this).each(function(){
        //                 $(this).removeClass('active').next('ul.select-options').addClass('select-hide');
        //             });
        //             $(this).toggleClass('active').next('ul.select-options').toggleClass('select-hide');
        //         });

        //         $listItems.click(function(e) {
        //             e.stopPropagation();
        //             $styledSelect.text($(this).text()).removeClass('active');
        //             $this.val($(this).attr('rel'));
        //             $this.change();
        //             $list.addClass('select-hide');
        //         });

        //         $(document).click(function() {
        //             $styledSelect.removeClass('active');
        //             $list.addClass('select-hide');
        //         });
        //     }
        // });


        var screenWidth = $(window).width();
        if ( screenWidth > 768 ) {
          $('.toolbar-sorter.sorter.desktop').show();
          $('.toolbar-sorter.sorter.mobil').hide();
        } else {
          $('.toolbar-sorter.sorter.desktop').hide();
          $('.toolbar-sorter.sorter.mobil').mobile();
        }

    });
</script>